
input[type="submit"], input[type="reset"], input[type="button"], button, .button {
    float: right;
}

.btn-info {
    color: #fff;
    background-color: #4272d7;
    border-color: #46b8da;
}
.btn-info a{
    color: #fff;
    text-decoration: none;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    margin: 0 15px;
}

.btn-success a {
    color: #fff;
    text-decoration: none;
}

.navbar .collapse ul li a{
    text-decoration: none;
}

.navbar .navbar-header a {
    text-decoration: none;
}



.shadonbox {
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
}

.box {
    display: flex;
}

    .box > div {
        padding-right: 10px;
    }